<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | MongoGorillas2</title>
    
    <!-- Minified and HTTPS version of jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    <!-- Minified and HTTPS version of AngularJS -->
    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    
    <!-- Add your stylesheets here -->

    <!-- Implement Content Security Policy if needed -->
</head>
<body>
    <hr />
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
